<h1>Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></li>
  <% end %>
</ul>

<p><a href="recipes/new">Create a new recipe</a></p>

<p><a href="tags/new">Create a new recipe tag</a></p>

