<h1><%= @recipe.title %></h1>

<p>Description: <%= @recipe.description %></p>

<p>Ratings:</p>
<ul>
  <% @recipe.ratings.each do |rating| %>
    <li><%= rating.number %></li>
  <% end %>
</ul>

<p><a href="/recipes/<%= @recipe.id %>/edit">edit this recipe</a></p>

<p><a href="/recipes">Return to list recipes page</a></p>
